<div class='grid auto-rows-min grid-rows-auto'>
  <div class='row-start-1 h-fit'><%= person.addressee %></div>
  <div class='row-start-2 h-fit'><%= person.street %></div>
  <div class='row-start-3 h-fit mb-4'><%= person.city_state_zip %></div>
</div>
