<div class="grid grid-rows-3 h-[72px]">
  <div class="pl-1 text-xs font-semibold text-clip overflow-hidden bg-gray-300">
    <pre><%= lbl[:addressee] %></pre>
  </div>

  <div class="pl-1 text-xs font-semibold text-clip overflow-hidden bg-gray-300">
    <pre><%= lbl[:street] %></pre>
  </div>

  <div class="pl-1 text-xs font-semibold text-clip overflow-hidden bg-gray-300">
    <pre><%= lbl[:csz] %></pre>
  </div>
</div>
