<div class="grid grid-rows-3 h-[72px]">
<div class="pl-1 text-sm font-semibold text-clip bg-gray-300"><%= lbl[:addressee] %></div>
<div class="pl-1 text-sm font-semibold text-clip bg-gray-300"><%= lbl[:street] %></div>
<div class="pl-1 text-sm font-semibold text-clip bg-gray-300"><%= lbl[:csz] %></div>
</div>
