  <div class="py-[36px] pl-[16px] pr-[11px] bg-green-200 rounded">
    <div class="grid grid-cols-3 gapx-[11px] w-full">
      <% page_labels.each do |lbl| %>
        <%= render "label", lbl: lbl %>
      <% end %>
    </div>
  </div>
