  <div class="pt-[38px] pb-[34px] pl-[16px] pr-[11px] bg-green-200 rounded">
    <div class="grid grid-cols-3 gap-x-[9px] w-full">
      <% page_labels.each do |lbl| %>
        <%= render "label", lbl: lbl %>
      <% end %>
    </div>
  </div>
