<div class="gap-y-2 py-6 place-content-center border-b border-gray-900/10">
  <h1 class="mb-4 text-2xl font-sans font-extrabold">
    Welcome to Address Book!
  </h1>

  <br><br>

  <div class="font-sans font-bold">
    <div>When printing:</div>
    <div>Be certain the Printer margin is set to 'None'</div>
    <div>And scale is adjusted. Probably 136% will work well.</div>
    <div>Disable printing of background graphics.</div>
  </div>
</div>

