  <div class="mx-4 mb-5 min-w-0">
    <%= form.label element, class: "field-label" %>
    <%= form.checkbox element, class: "block w-full mt-4 text-gray-900 font-medium rounded-md border-0 shadow ring placeholder:text-gray-400" %>
  </div>
