<% autofocus ||= false %>
<% do_not_edit ||= false %>
<% include_blank ||= true %>
<% selected ||= '' %>
<% tabndx ||= 0 %>

<div class="mb-0">
    <%= f.label element, class: "search-label" %>
    <%= f.select( element, collection,
            { include_blank: include_blank,
              selected: selected,
              autofocus: autofocus,
              data: { action: "autosubmit#submit" }
            },
            { class: "search-select-field",
              disabled: do_not_edit,
              tabindex: tabndx
            }
        )
    %>
  </div>