<% autofocus ||= false %>
<% do_not_edit ||= false %>
<% include_blank ||= true %>
<% selected ||= '' %>

<div class="mb-0">
    <%= form.label element, class: "search-label" %>
    <%= form.select( element, collection,
            { include_blank: include_blank,
              selected: selected,
              autofocus: autofocus },
            { class: "search-select-field",
              disabled: do_not_edit
            }
        )
    %>
  </div>