<% autofocus ||= false %>
<% tabndx ||= 0 %>

<div class="mb-0">
  <%= f.label element, class: "search-label" %>
  <%= f.text_field element,
        value: params[element],
        class: 'search-txt-field ring',
        autofocus: autofocus,
        tabindex: tabndx,
        data: { action: "autosubmit#submit" } %>
</div>
