<% do_not_edit ||= false %>
<% include_blank ||= true %>
<% selected ||= '' %>

<div class="mx-4 mb-5">
    <%= form.label element, class: "field-label" %>
    <%= form.select( element, collection,
            { include_blank: include_blank,
              selected: selected },
            { class: "select-field",
              disabled: do_not_edit
            }
        )
    %>
  </div>