  <div class="mx-4 mb-5 min-w-0">
    <%= form.label element %>
    <%= element || "nothing" %>
    <%= form.select( element, collection,
            { include_blank: blank,
              selected: selected },
            { class: "block mt-2 py-3 pl-3 text-gray-900 font-medium rounded-md border-0 shadow ring",
              disabled: do_not_edit
            }
        )
    %>
  </div>