<div data-navbar-target="menu" class="hidden w-full md:flex md:items-center md:w-auto z-20">
  <ul class="pt-4 text-lg text-gray-700 md:flex md:justify-between md:pt-0">
  <li><%= render "layouts/navbar/link", link: {path: people_path, label: 'People'} %></li>
  <li><%= render "layouts/navbar/link", link: {path: list_path, label: 'Proof list', people: @people} %></li>
  <li><%= render "layouts/navbar/link", link: {path: labels_path, label: 'Labels', people: @people} %></li>
  </ul>
</div>
